::selection{
    background: #f6cb49;
}
.close-button{
    position: absolute;
    z-index: 1;
    top: 2em;
    left: 2em;
    display: inline-block;
    width: 4em;
    height: 4em;
    overflow: hidden;
    opacity: 0.5;
    transition: .55s;
}
.close-button:hover{
    opacity: 1;
}

.tags.uppercase{
    text-transform: uppercase;
}

#canvas {
    display: block; 
    position: fixed; 
  }